/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Général ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

body {
    padding: none;
    margin: 0px;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

div {
    display: block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
    margin: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

header li {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 2rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Top text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.toptext {
    margin: 2vw;
    margin-left: 10%;
    margin-right: 10%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Barre de recherche ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form {
    margin: 2vw;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

#loupe {
    background-color: #F2F2F2;
    padding: 2em 0 0 0;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    width: 4em;
    height: 2.5em;
    color: blue;
}

form i {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: auto;
    height: 2vw;
}

form > .rechercher {
    background-color: #0065FC;
    height: 3vw;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

form input {
    width: 10vw;
    height: 3vw;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway","Sans serif";
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Filtres ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.filtres {
    margin: 2vw;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

.filtres div {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    padding-right: 1rem;
}

.filtres i {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    margin-right: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Résultats ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.resultats {
    display: flex;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
    margin-left: 10%;
    margin-right: 10%;
}

.resultats p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.resultats i {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hébergements + populaires ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.box {
    /* background-color: #0065FC; */
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hébergements à Marseille ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hebergement {
    padding: 2vw;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hebergementbox {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colonne1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colonne2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colonne3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divHotel {
    margin: 1rem 2rem 2rem 2rem;
    max-width: 20rem;
    background-color: white;
    padding: 0.350rem;
    border-radius: 1.50rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.hebergement img {
    object-fit: cover;
    overflow: hidden;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.divtext {
    margin: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
}

[aria-label] {
    color: blue;
}

[aria-label] #greystar {
    color: grey;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Les plus populaires ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.populaires {
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vw;
}

.populairesintro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#arrow {
    height: 4rem;
    width: 4rem;
    min-height: 4rem;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 1rem;
}

.populairesbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires img {
    object-fit: cover;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}

.populairestxt {
    margin: 1vw 1vw 0 1vw;
    display: flex;
    flex-direction: column;
}

/*
object-fit: cover;
    overflow: hidden;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
*/

.divPop {
    margin: 3rem 3rem 0rem 3rem;
    background-color: white;
    padding: 0.350rem;
    border-radius: 1.50rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    
}

.populaires a {
    display: flex;
    flex-direction: row;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Activités à Marseille ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.activites {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.activitebox {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.activitebloc {
    display: flex;
    flex-direction: row;
    max-width: 50%;
}

.activitecolonne {
    display: flex;
    flex-direction: column;
}

.smallimg {
    object-fit: cover;
    max-height: 20em;
    min-width: 40em;
}

.bigimg {
    object-fit: cover;
    height: 47em;
}

.activitesdiv {
    margin: 1em;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.vieuxport {
    margin: 10px;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.calanques {
    margin: 10px;
    object-fit: cover;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.activites h3 {
    margin: 1vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
    background-color: #f5f1f1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    box-sizing: border-box;
}
.fcolonne {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 10rem;
}

.flist {
    display: flex;
    flex-direction: column;
}

footer li {
    margin: 8px;
}