/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Général ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

body {
    padding: none;
    margin: 0px;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

a {
    color: inherit;
    text-decoration: none;
}

div {
    display: block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
    margin: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header li {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 2rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Top text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.toptext {
    margin: 2vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Barre de recherche ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form {
    margin: 2vw;
}

.rechercher form {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

form i {
    height: 2vw;
}

form > .rechercher {
    background-color: #0065FC;
    height: 3vw;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

form input {
    width: 10vw;
    height: 3vw;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway","Sans serif";
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Filtres ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.filtres {
    margin: 2vw;
    display: flex;
    flex-direction: row;
}

.filtres div {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    padding-right: 1rem;
}

.filtres i {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    margin-right: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Résultats ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.resultats {
    margin: 2vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hébergements + populaires ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.box {
    /* background-color: #0065FC; */
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hébergements à Marseille ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hebergement {
    margin: 2vw;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hebergementbox {
    margin: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergementbox div {
    border-radius: 10px;
    margin: 1em;
    border-style: solid;
    border-color: white;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
}

.hebergement img {
    object-fit: cover;
    margin: 3px;
    width: 400px;
    height: 200px;
    border-radius: 13px;
}

.hebergement h2 {
    margin-top: 2em;
    margin-left: 2em;
}

.hebergement h3 {
    margin: 8px;
}

.hebergement p {
    margin: 8px;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Les plus populaires ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.populaires {
    margin: 2vw;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.populairesbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.populaires img {
    object-fit: cover;
    margin: 3px;
    width: 200px;
    height: 200px;
    border-radius: 13px;
}

.populaires a {
    display: flex;
    flex-direction: row;
}

.populaires div {
    border-radius: 13px;
    margin: 10px;
    border-style: solid;
    border-color: white;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
}

.populaires h3 {
    margin: 8px;
}

.populaires p {
    margin: 8px;
}

.populaires h2 {
    margin: 30px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Activités à Marseille ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.activites {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activitebox {
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box_gauche {
    display: flex;
    flex-direction: row;
}

.inner_box_gauche {
    display: flex;
    flex-direction: column;
}

.box_droite {
    display: flex;
    flex-direction: row;
}

.inner_box_droite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.activites img {
    object-fit: cover;
    margin: 3px;
    width: 400px;
    height: 200px;
    border-radius: 13px;
    overflow: hidden;
}

.activitesdiv {
    margin: 10px;
}

.activites a {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    transition-duration: 0.1s;
    background-color: white;
}

#vieuxport {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
    background-color: #f5f1f1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    box-sizing: border-box;
}
.fcolonne {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 10rem;
}

.flist {
    display: flex;
    flex-direction: column;
}

footer li {
    margin: 8px;
}