/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Général ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

body {
    padding: none;
    margin: 0px;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
    margin: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

header li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 2rem;
}

.NAVhebergements:hover {
    color: blue;
}


.NAVactivites:hover {
    color: blue;
}

.NAVinscrire {
    color: blue;
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Top text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.toptext {
    margin: 2vw;
    margin-left: 10%;
    margin-right: 10%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Barre de recherche ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form {
    margin: 2vw;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

#loupeiconspan {
    background-color: #F2F2F2;
    padding: 0 0 0 0;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    width: 3vw;
    height: 3vw;
    color: black;
}

#glass {
    padding: 1vw 0 0 0;
}

form button {
    background-color: #0065FC;
    width: 7vw;
    height: 3vw;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

form input {
    width: 10vw;
    height: 3vw;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway","Sans serif";
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Filtres ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.filtres {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.responsivefilters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divfiltres {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    padding-right: 1rem;
}

.filtres i {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    margin-right: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Résultats ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.resultats {
    display: flex;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
    margin-left: 10%;
    margin-right: 10%;
}

.resultats p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.resultats i {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hébergements + populaires ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Hébergements à Marseille ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hebergement {
    margin: 0;
    padding: 1em 0 0 1em;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: auto;
    max-height: auto;
}

.hebergementbox {
    margin: 0;
    padding: 0 2em 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colonne1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colonne2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colonne3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divHotel {
    padding: 0;
    margin: 1em 1em 2em 1em;
    width: 17em;
    height: 15em;
    background-color: white;
    border: solid;
    border-color: white;
    border-width: 0.25em;
    border-radius: 1.50rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}


.hebergement img {
    object-fit: cover;
    overflow: hidden;
    height: 50%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.divtext {
    margin: 0.25em 0 0.25em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divtext > h3 {
    margin: 0.5em 0 0.5em 0;
}

.divtext > p {
    margin: 0.2em 0 0.2em 0;
}

.hebergement h2 {
    padding: 0;
    margin-left: 3em;
}

.hebergement > h4 {
    padding: 0;
    margin: 0 0 3em 4em;
}

[aria-label] {
    color: blue;
    margin: 0.5em 0 0 0;
}

[aria-label] #greystar {
    color: grey;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Les plus populaires ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.populaires {
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0 2em 0em;
    margin: 0;
    width: auto;
    max-height: 50em;
}

.populairesintro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 0 0;
}

#arrow {
    height: 4rem;
    width: 4rem;
    min-height: 4rem;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 1rem;
}

.populairesbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 0;
}

.populaires img {
    object-fit: cover;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}

.populairestxt {
    margin: 0vw 1vw 0 1vw;
    display: flex;
    flex-direction: column;
}

.divPop {
    max-width: 28em;
    max-height: 12em;
    margin: 3rem 3rem 0rem 3rem;
    background-color: white;
    border-width: 0.25em;
    border-style: solid;
    border-radius: 1.50rem;
    border-color: white;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}
    

.populaires a {
    display: flex;
    flex-direction: row;
}

.populaires h2 {
    padding: 0;
}

.populaires h4 {
    padding: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Activités à Marseille ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.activites {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 8%;
    position: center;
}

.activitebox {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 1vw;
    position: center;
}

.activitebloc {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    padding: 0 0 0 1vw;
}

.activitecolonne {
    padding: 0 0 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smallimg {
    object-fit: cover;
    max-height: 15em;
    min-width: 100%
}

.bigimg {
    object-fit: cover;
    height: 37em;
    min-width: 100%;
}

.activitesdiv {
    margin: 1em;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.vieuxport {
    margin: 1vw;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.calanques {
    margin: 1vw;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.activites h3 {
    margin: 1vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
    background-color: #f5f1f1;
    display: flex;
    flex-direction: row;
    padding: 0 0 2em 0;
}

.fcolonne {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em 10em
}

.flist {
    display: flex;
    flex-direction: column;
}

footer li {
    margin: 0.5em;
}
